@keyframes move-nuvens{
    from {
        right: -500px;
    }
    to{
        right: 100%;
    }
}

@keyframes move-tubo{
    from {
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes move-bala{
    from {
        right: -130px;
    }
    to{
        right: 100%;
    }
}

@keyframes move-modas{
    from{
        right: -50px;
    }
    to{
        right: 100%;
    }
}

@keyframes move-estrelas{
    from{
        right: -70px;
    }
    to{
        right: 100%;
    }
}